.degustacao {
  background-color: var(--cor-fundo);
  padding: 50px 20px;
  max-width: 80%;
  margin: 0 auto;
}

.degustacao h1 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 26px;
  padding: 26px;
  background: linear-gradient(
    90deg,
    var(--cor-texto) 30%,
    var(--cor-titulo) 76%
  );
  background-clip: text;
  color: transparent;
}
.degustacao__info {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin: 0 auto;
  align-items: center;
}

.degustacao__item {
  background: linear-gradient(
    180deg,
    var(--cor-fundo) 20%,
    var(--cor-hover) 60%
  );
  padding: 32px 12px;
  margin: 18px;
  border-radius: 26px;
  text-align: center;
}

.degustacao__pizza {
  position: relative;
  top: -40px;
  background: linear-gradient(
    180deg,
    var(--cor-fundo) 20%,
    var(--cor-hover) 60%
  );
  padding: 32px 12px;
  margin: 18px;
  border-radius: 26px;
  text-align: center;
}

.degustacao__item img,
.degustacao__pizza img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 26px;
}

.degustacao__item h2,
.degustacao__pizza h2 {
  font-size: 1.8rem;
  margin-bottom: 12px;
  color: var(--cor-fundo);
  font-size: bold;
}

.degustacao__item p,
.degustacao__pizza p {
  font-size: 1 rem;
  max-width: 85%;
  margin: 20px auto;
  color: var(--cor-fundo2);
}

.degustacao__item a,
.degustacao__pizza a {
  background-color: var(--cor-destaque);
  color: var(--cor-fundo);
  text-decoration: none;
  font-weight: bold;
  border-radius: 26px;
  padding: 12px 26px;
}

@media (max-width: 1024px) {
  .degustacao__item a {
    width: 48%;
  }
}

@media screen and (max-width: 768px) {
  .degustacao {
    max-width: 90%;
    padding: 32px 12px;
    margin: 0 auto;
  }

  .degustacao h1 {
    padding: 0px;
  }

  .degustacao__info {
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;
  }

  .degustacao__item {
    padding: 32px 6px;
    background: linear-gradient(
      180deg,
      var(--cor-fundo) 20%,
      var(--cor-hover) 100%
    );
  }

  .degustacao__item.pizza {
    max-width: 50%;
    top: 0;
  }

  .degustacao__item p {
    max-width: 70%;
    margin: 20px auto;
  }
}
