.rodape {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 20px;
  margin: 2rem;
  font-family: sans-serif;
}

.rodape__coluna {
  display: flex;
  flex-direction: column;
}

.rodape__coluna h2 {
  margin: 22px;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

.rodape__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
}

.rodape__logo img {
  max-width: 45%;
  margin-top: 68px;
}

.rodape__titulo {
  font-size: 1.2em;
  margin-top: 150px;
}

a.rodape__item {
  display: flex;
  width: auto;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 8px;
  margin: 0 22px 0 22px;
  color: var(--cor-texto);
  text-decoration: none;
  font-weight: bold;
  transition: opacity 0.3s;
}

/* Efeito visual ao passar o mouse sobre o link */
a.rodape__item:hover {
  color: var(--cor-hover);
}

/* Ajuste no nome da classe do ícone para evitar conflito com a classe .rodape */
.rodape__icone {
  width: 20px;
  height: 20px;
}
