.degrade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 36%;

  z-index: 5;
}

.header {
  position: fixed;
  background-color: var(--cor-fundo);
  width: 100%;
  z-index: 8;
}
.header__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 62px;
}

.header__logo img {
  max-width: 46%;
}

ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

li a {
  color: var(--cor-texto);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
.menu {
  background-color: var(--cor-hover);
  color: var(--cor-fundo);
  padding: 16px 28px;
  border-radius: 26px;
  font-size: 1.3rem;
}
