.sobre {
  background-color: var(--cor-fundo2);
  border-radius: 20px 20px 0 0;
}
.sobre h1 {
  opacity: 1; /* visível desde o início */
  transform: none;
  text-align: center;
  font-size: 2.8rem;
  margin: 26px;
  padding: 26px;
  background: linear-gradient(
    90deg,
    var(--cor-texto) 30%,
    var(--cor-titulo) 76%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.sobre__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 0 62px 62px 62px;
}

.sobre__info p {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: justify;
  color: var(--cor-texto);
}

.sobre__info {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Estado animado */
.show {
  opacity: 1;
  transform: scale(1);
}

@media screen and (max-width: 1024px) {
  .sobre__info {
    flex-direction: column-reverse;
    max-width: 80%;
    margin: 0 auto;
  }

  .sobre__info p {
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .sobre__info {
    max-width: 70%;
    margin: 0 auto;
  }

  .sobre__info img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .sobre__info {
    max-width: 100%;
    margin: 0 auto;
  }

  .sobre__restaurante h1 {
    margin: 12px;
  }

  .sobre__info p {
    padding: 18px 12px 3rem 12px;
  }
}
@media screen and (max-width: 320px) {
  .sobre__info {
    max-width: 100%;
    padding: 6px;
    margin: 0 6px;
  }

  .divisor__img {
    width: 100%;
    margin: 0;
  }
}
