@import url(./land/header.css);
@import url(./land/carrocel.css);
@import url(./land/sobre.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --cor-titulo: #f0c850;
  --cor-destaque: #b4322d;
  --cor-destaque-fechado: #43c51b;
  --cor-destaque-aberto: #b4322d;
  --cor-texto: #929292;
  --cor-fundo: #2b2a2a;
  --cor-fundo2: #404040;
  --cor-fundo-opaco: rgb(18, 18, 18, 0.9);
  --cor-hover: #ffbe3c;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}
