.header {
  background-color: var(--cor-fundo-opaco);
  backdrop-filter: blur(20px);
  margin: 1rem 2rem;
  padding: 1rem 2rem;
  border-radius: 26px;
  position: fixed;
  top: 0;
  max-width: 95%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
}

.header__logo {
  max-width: 10%;
}

.header__img {
  width: 50%;
  height: auto;
}

.header__menu-lista {
  display: flex;
  gap: 2rem;
}

.header__menu-item {
  list-style: none;
}
.header__menu-item a {
  text-decoration: none;
  color: var(--cor-texto);
  font-weight: 500;
}

.header__menu-item a:hover {
  color: var(--cor-hover);
}
